<div class="container">
  <textarea
    placeholder="Enter Text here"
    class="input"
    cols="30"
    rows="10"
    [(ngModel)]="inputText"
  ></textarea>
  <div class="btn-container">
    <button
      class="btn btn-primary"
      (click)="handleSendData()"
      [disabled]="isBtnDisabled"
      [innerText]="btnText"
    ></button>
    <button class="btn btn-secondary" (click)="clearInput()">Clear</button>
  </div>

  <div class="info" [class.openInfo]="isDisplayClipId">
    Your One Time id is &nbsp;
    <span class="clipId">{{ clipId }}</span>
    <button class="btn" (click)="copyText()">
      <img
        class="icon"
        width="auto"
        height="auto"
        [ngClass]="(isDarkMode$ | async) ? 'light-filter' : 'dark-filter'"
        src="../../assets/images/copy.svg"
        alt=""
      />
    </button>
  </div>
</div>
